*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding-left: 10px;
    color:rgb(0, 0, 0);
    margin-bottom: .1em;
    display: inline-block;
}

.btn{
    width: 100%;
    background-color: transparent;
    color: rgb(214, 214, 214);
    border: 1px solid transparent;
    cursor: pointer;
   
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);

    padding:20px 0;
    transition: all 0.4s
}

.btn:hover{
    border-color: rgb(0, 0, 0);
    color: rgb(254, 254, 254);
    
    transform: scale(1.01);
    
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.btn:active{
    border-color: rgb(187, 187, 187);
    color: rgb(172, 172, 172);
    
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.2);
    
}


/*-------------------------------- 
COMMONS */


/* Input 
----------------------------------*/
.input-side{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
    background-color: rgb(216, 196, 196);
}

#logo{
    height: 40px;
}

.input-container{
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 100%;
}
.calc-price-input{
    padding-left: 10px;
    width: 100%;

}
.calc-price-input input{
    border: transparent;
    padding:10px 18px;
}



/*--------------------------------- 
Fine Input */


/* Ticket 
----------------------------------*/
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(234, 234, 234);
    display: flex;

    align-items: center;
    justify-content: center;

}

.container .ticket-wrapper{
    width:60%;
    height: 100%;
    background: #ebebeb;
    padding: 10px 20px;  
  
}

/* BG-button */
.bg-red{
    background: rgb(177, 57, 85);
}

.bg-green{
    background: rgb(29, 60, 34);
}

.bg-blue{
    background: rgb(189, 157, 16);
}

/* ----------------------------------
Ticket */